@model string;

<div class="text-white">
    <a asp-action="Create" asp-controller="@Model" class="btn btn-outline-success">
        <i class="fas fa-regular fa-plus-square mr-3"></i>
        Create
    </a>

</div>