@{
    ViewData["Title"] = "Order Complete";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Orders Complete Sussfully !</h3>
        <hr />
        <a asp-action="Index" asp-controller="Products" class="btn btn-outline-info">
            <i class="fas fa-regular fa-refresh"></i>
            Go To Products
        </a>
    </div>
</div>